
body{
    background-color: black;
}
.container{

display: flex;
flex-direction: column;
align-items: center;

}
#btn{
    width: 75px;
    height: 75px;
    position: absolute;

   
}
#img{
    position: absolute;
    margin-top: 50px;
    width: 500px;
    height: 600px;
    transition: transform .2s;


}
#btn1{
    width: 75px;
    height: 75px;
    position: absolute;

   
}
#btn2{
    width: 75px;
    height: 75px;
    position: absolute;
    visibility: hidden;

   
}
#img1{
    margin-top: 50px;
    position: absolute;
    width: 500px;
    height: 600px;
    transition: transform .2s;
 

}
#imgtra{
    margin-top: 50px;
    position: absolute;
    width: 500px;
    height: 600px;
    transition: transform .2s;
    opacity: 0;

}

.hid{

visibility: hidden;

}


#img:hover {
    transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }

  #img1:hover {
    transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }

  #imgtra:hover {
    transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }

