
body, html {
    height: 100%;
    margin: 0;
  }

#bub{
  position: absolute;
    margin-left: 700px;
    background: url('./assets/bubwalk2.png') repeat-x;
    width: 60px;
    height: 57px;
    animation:walk 1.5s steps(6) infinite;
    -webkit-animation:walk 1.5s steps(6) infinite;
}
.bub{
  position: absolute;
    margin-left: 700px;
    background: url('./assets/bubwalk2.png') repeat-x;
    width: 60px;
    height: 57px;
    animation:walk 1.5s steps(6) infinite;
    -webkit-animation:walk 1.5s steps(6) infinite;
}

#bubf{
    position: absolute;
    margin-left: 700px;
    background: url('./assets/bubf2.png') repeat-x;
    width: 69px;
    height: 91px;
    animation:walkf 1s steps(4) infinite reverse;
    -webkit-animation:walkf 1s steps(4) infinite reverse;
}

.bubf{
  position: absolute;
  margin-left: 700px;
  background: url('./assets/bubf2.png') repeat-x;
  width: 69px;
  height: 91px;
  animation:walkf 1s steps(4) infinite reverse;
  -webkit-animation:walkf 1s steps(4) infinite reverse;
}

#bubh{
  position: absolute;
  margin-left: 700px;
  background: url('./assets/bubh2.png')repeat-x;
  width: 70px;
  height: 74px;
  padding-left: 0.5px;
  animation:walkh 1.5s steps(5) infinite ;
  -webkit-animation:walkh 1.5s steps(5) infinite ;
}

.bubh{
  position: absolute;
  margin-left: 700px;
  background: url('./assets/bubh2.png')repeat-x;
  width: 70px;
  height: 74px;
  /* animation:walkh 1.5s steps(5) infinite ;
  -webkit-animation:walkh 1.5s steps(5) infinite ; */
}
#bube{
  position: absolute;
  margin-left: 700px;
  background: url('./assets/bube2.png')repeat-x;
  width: 74px;
  height: 72px;
  padding-left: 0.5px;
  animation:walke 2s steps(8) infinite reverse;
  -webkit-animation:walke 2s steps(8) infinite reverse;
}

.bube{
  position: absolute;
  margin-left: 700px;
  background: url('./assets/bube2.png')repeat-x;
  width: 74px;
  height: 72px;
  /* animation:walke 1.5s steps(5) infinite ;
  -webkit-animation:walke 1.5s steps(5) infinite ; */
}

@keyframes walk {
    0% { background-position:0 }
    100% { background-position:-360px }
  }
  @keyframes walkf {
    0% { background-position:0 }
    100% { background-position:315px }
  }
  @keyframes walkh {
    0% { background-position:0 }
    100% { background-position:390px }
  }
  @keyframes walke {
    0% { background-position:0 }
    100% { background-position:-626px }
  }
  @keyframes lay1 {
    0% { background-position:272px }
    100% { background-position:0 }
  }
  @keyframes lay2 {
    0% { background-position:272px }
  100% { background-position:0 }
  }
  @keyframes lay3 {
    0% { background-position:272px }
  100% { background-position:0 }
  }
  @keyframes lay4 {
    0% { background-position:272px }
  100% { background-position:0px }
  }

  

#fondo{
     background: url('./back/parallax_mountain_pack/parallax_mountain_pack/layers/parallax-mountain-bg.png')repeat-x;
     background-size: cover;
     margin: 0px;
}
#lay1{
    background: url('./back/parallax_mountain_pack/parallax_mountain_pack/layers/parallax-mountain-montain-far.png')repeat-x;
    background-size: cover;
    position: relative;
    height: 100vh;
    margin: auto;
    animation:lay1 25s linear infinite;
    
    animation-direction: alternate;

}
    #lay2{
        background: url('./back/parallax_mountain_pack/parallax_mountain_pack/layers/parallax-mountain-mountains.png')repeat-x;
        background-size: cover;
        position: relative;
        height: 100vh;
        margin: auto;
        animation:lay2 20s linear infinite;
        animation-direction: alternate;
   
}
        #lay3{
            background: url('./back/parallax_mountain_pack/parallax_mountain_pack/layers/parallax-mountain-trees.png') repeat-x;
            background-size: cover;
            position: relative;
            height: 100vh;
            margin: auto;
            animation:lay3 20s linear infinite;
            
          
}
            #lay4{
                background: url('./back/parallax_mountain_pack/parallax_mountain_pack/layers/parallax-mountain-foreground-trees.png');
                background-size: cover;
                background-repeat: no-repeat;
                position: relative;
                height: 100vh;
                margin: auto;
                animation:lay4 20s linear infinite;
                animation-direction: alternate;

}

.progress-bar {
  position: absolute;
  width: 400px;
  height: 10px;
  margin: 80px;
  padding: 8px;
  background: white;
  border-radius: 10px;
  margin-left: 20px;
  margin-top: -10px;
}

.progress {
  position: absolute;
  width: 400px;
  height: 12px;

}

@keyframes fillmax {
  0% {
    width: 0px;
    background: red;
  }
  25% {
    width: 100px;
    background: orange;
  }
  50% {
    width: 200px;
    background: yellow;
  }
   75% {
    width: 300px;
    background: green;
  }
  100% {
    width: 400px;
    background: blueviolet;
    
} 
}

@keyframes fill25 {
  0% {
    width: 0px;
    background: red;
  }
  25% {
    width: 25px;
    background: red;
  }
  75% {
    width: 75px;
    background: orange;
  }
  100% {
    width: 100px;
    background: orange;
  }
}

#hambre{
padding: 20px;
}

#feliz{

  padding: 20px;
  margin-left: -30px;
  }

  .progress-bar2 {
    position: absolute;
    width: 400px;
    height: 10px;
    margin: 0;
    padding: 8px;
    background: white;
    border-radius: 10px;
    margin-left: -10px;
    margin-top: -10px;
  }
  
  .progress2 {
    position: absolute;
    width: 400px;
    height: 12px;
  }
  .progress-bar3 {
    position: absolute;
    width: 400px;
    height: 10px;
    margin: 0;
    padding: 8px;
    background: white;
    border-radius: 10px;
    margin-left: -10px;
    margin-top: -10px;
  }
  
  .progress3 {
    position: absolute;
    width: 400px;
    height: 12px;
  }

  .progressX25 {
    position: absolute;
    background: white;
    width: 100px;
    height: 12px;
    animation: fill25 5s ease forwards;

}

.progressmax {
  position: absolute;
  width: 400px;
  height: 12px;
  animation: fillmax 10s linear forwards;

}


